<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424812609389-d97cr3a4am669gftfll31bmufnp2884b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424812609389-d97cr3a4am669gftfll31bmufnp2884b</string>
	<key>API_KEY</key>
	<string>AIzaSyBn4DmmX-AdInYYH7ep3PbbFamjyFpqrWc</string>
	<key>GCM_SENDER_ID</key>
	<string>424812609389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fialda.Fialda-QA</string>
	<key>PROJECT_ID</key>
	<string>fialda-cab5a</string>
	<key>STORAGE_BUCKET</key>
	<string>fialda-cab5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424812609389:ios:0b80b766089ae64ca96464</string>
	<key>DATABASE_URL</key>
	<string>https://fialda-cab5a.firebaseio.com</string>
</dict>
</plist>