<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152001521054-da7k8lvu5psm52bars5abkg6ak3g122l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152001521054-da7k8lvu5psm52bars5abkg6ak3g122l</string>
	<key>API_KEY</key>
	<string>AIzaSyAYrEP8tbHa2S9po-YkfniZhVFaKYSr-GU</string>
	<key>GCM_SENDER_ID</key>
	<string>152001521054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mc-tehart.merri</string>
	<key>PROJECT_ID</key>
	<string>merrysan-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>merrysan-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152001521054:ios:1fe4cb6699d8788c5e628f</string>
	<key>DATABASE_URL</key>
	<string>https://merrysan-prod.firebaseio.com</string>
</dict>
</plist>